pb_decode.h filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
pb_decode.c filter=lfs diff=lfs merge=lfs -text
pb_common.h filter=lfs diff=lfs merge=lfs -text
tools filter=lfs diff=lfs merge=lfs -text
CHANGELOG.txt filter=lfs diff=lfs merge=lfs -text
library.json filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pb.h filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
AUTHORS.txt filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
WORKSPACE filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
BUILD filter=lfs diff=lfs merge=lfs -text
generator filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
patches filter=lfs diff=lfs merge=lfs -text
pb_common.c filter=lfs diff=lfs merge=lfs -text
pb_encode.c filter=lfs diff=lfs merge=lfs -text
CONTRIBUTING.md filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_PUBLIC_DOMAIN filter=lfs diff=lfs merge=lfs -text
extra filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
pb_encode.h filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
